<div class="container">
	<nav class="flex flex-justify-content-between flex-align-items-center">
		<div class="logo">
			<img src="../../assets/logos/inhabitent-logo-tent.svg" alt="Inhabitent Logo">
		</div>
		<div class="nav-links">
			<ul>
				<a href="#"><li>Shop</li></a>
				<a href="#"><li>Journal</li></a>
				<a href="#"><li>About</li></a>
				<a href="#"><li>Find Us</li></a>
				<a href="#"><li><i class="fa fa-search" aria-hidden="true"></i></li></a>
			</ul>
		</div>
	</nav>
</div>

<main class="flex">
<section>
	<div class="journal-post">
		<div class="journal-image">
			<h2 class="green-bg">Van Camping Photo Contest</h2>
			<h4 class="green-bg">14 April 2016 / 3 Comments / By Mandi Wise</h4>
		</div>
	</div>
</section>
<aside>
</aside>
</main>