<header class="container">
	<nav class="flex flex-justify-content-between flex-align-items-center">
		<div class="logo">
			<a routerLink="/home"><img src="../../assets/logos/inhabitent-logo-tent-white.svg" alt="Inhabitent Logo"></a>
		</div>
		<div class="nav-links">
			<ul>
				<a routerLink=""><li>Shop</li></a>
				<a routerLink="/journal-list"><li>Journal</li></a>
				<a routerLink=""><li>About</li></a>
				<a routerLink=""><li>Find Us</li></a>
				<a routerLink=""><li><i class="fa fa-search" aria-hidden="true"></i></li></a>
			</ul>
		</div>
	</nav>
</header>