<section class="shop-stuff container">
	<h2 class="lrg-padding-tb text-center">Shop Stuff</h2>
	<div class="shop-categories flex flex-justify-content-between">
		<div class="category">
			<img src="../../assets/product-type-icons/do.svg"/>
			<p>Get back to nature with all the tools and toys you need to enjoy the great outdoors.</p>
			<button class="green-btn">Do Stuff</button>
		</div>
		<div class="category">
			<img src="../../assets/product-type-icons/eat.svg"/>
			<p>Nothing beats food cooked over the fire. We have all you need for good camping eats.</p>
			<button class="green-btn">Eat Stuff</button>
		</div>
		<div class="category">
			<img src="../../assets/product-type-icons/sleep.svg"/>
			<p>Get a good night's rest in the wild in a home away from home that travels well.</p>
			<button class="green-btn">Sleep Stuff</button>
		</div>
		<div class="category">
			<img src="../../assets/product-type-icons/wear.svg"/>
			<p>From flannel shirts to toques, look the part while roughing it in the great outdoors.</p>
			<button class="green-btn">Wear Stuff</button>
		</div>
	</div>
</section>
