<div class="adventure-banner">
	<img src='{{ storedJournal.image }}' class="banner-image">
	<nav class="flex flex-justify-content-between flex-align-items-center">
			<a routerLink="/home"><img src="../../assets/logos/inhabitent-logo-tent-white.svg" alt="Inhabitent Logo"></a>
		<div class="nav-links">
			<ul>
				<a routerLink=""><li>Shop</li></a>
				<a routerLink="/journal-list"><li>Journal</li></a>
				<a routerLink=""><li>About</li></a>
				<a routerLink=""><li>Find Us</li></a>
				<a routerLink=""><li><i class="fa fa-search" aria-hidden="true"></i></li></a>
			</ul>
		</div>
	</nav>
</div>
<section class="adventure-container lrg-padding-tb">
	<h2>{{ storedJournal.title }}</h2>
	<p>{{ storedJournal.content }}</p>
	<button class="black-btn"><i class="fa fa-facebook" aria-hidden="true"></i>
 Like</button>
	<button class="black-btn"><i class="fa fa-twitter" aria-hidden="true"></i>
 Tweet</button>
	<button class="black-btn"><i class="fa fa-pinterest" aria-hidden="true"></i>
 Pin</button>
</section>
<section class="adventure-container lrg-padding-tb border-top-grey form-entry">
	<h2>Create a Journal Entry</h2>
	<form id="apiForm" method="post" #apiForm="ngForm">
		<div class="form-row-1 flex flex-justify-content-between">
			<input type="text" id ="title" name="title" placeholder="Title" class="form-field">
			<input type="text" id="image" name="image" placeholder="Image Link" class="form-field" required>
		</div>
		<div class="form-row-2 flex flex-justify-content-between">
			<textarea name="content" id="content" class="form-field" rows="5" placeholder="Content" required></textarea>
			<select multiple id="categories" name="categories" (change)="parseSelectedValue($event.target.value)" class="form-field" required>
				<option disabled="disabled">--select--</option>
				<option *ngFor="let name of categories" [value]="name">{{ name }}</option>
			</select>
		</div>
		<button class="green-btn" type="button" name="submit" id="submit" (click)="submitForm($event)">Submit <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
	</form>
</section>

<div class="modal form-modal-hide">
	<div class="modal-bg flex flex-justify-center flex-align-items-center">
		<div class="modal-box flex flex-col flex-justify-center">
			<i class="fa fa-check-circle-o" aria-hidden="true"></i>
			<p>Your entry has been submitted</p>
		</div>
	</div>
</div>