<div class="adventure-banner">
	<img src='{{ storedJournal.image }}' class="banner-image">
	<nav class="flex flex-justify-content-between flex-align-items-center">
			<a routerLink="/home"><img src="../../assets/logos/inhabitent-logo-tent-white.svg" alt="Inhabitent Logo"></a>
		<div class="nav-links">
			<ul>
				<a routerLink=""><li>Shop</li></a>
				<a routerLink="/journal-list"><li>Journal</li></a>
				<a routerLink=""><li>About</li></a>
				<a routerLink=""><li>Find Us</li></a>
				<a routerLink=""><li><i class="fa fa-search" aria-hidden="true"></i></li></a>
			</ul>
		</div>
	</nav>
</div>
<section class="adventure-container lrg-padding-tb">
	<h2>{{ storedJournal.title }}</h2>
	<p>{{ storedJournal.content }}</p>
	<button class="black-btn"><i class="fa fa-facebook" aria-hidden="true"></i>
 Like</button>
	<button class="black-btn"><i class="fa fa-twitter" aria-hidden="true"></i>
 Tweet</button>
	<button class="black-btn"><i class="fa fa-pinterest" aria-hidden="true"></i>
 Pin</button>
</section>

<app-form></app-form>