<section class="adventure-container lrg-padding-tb border-top-grey form-entry">
	<h2>Create a Journal Entry</h2>
	<form id="apiForm" method="post" #apiForm="ngForm">
		<div class="form-row-1 flex flex-justify-content-between">
			<input type="text" id ="title" name="title" placeholder="Title" value="A Day to Remember" class="form-field" required>
			<input type="text" id="image" name="image" placeholder="Image Link" value="https://wallpaperbrowse.com/media/images/free_high_resolution_images_for_download-1.jpg" class="form-field" required>
		</div>
		<div class="form-row-2 flex flex-justify-content-between">
			<textarea name="content" id="content" class="form-field" rows="5" placeholder="Content" required>In ipsum arcu, bibendum et consectetur venenatis, eleifend non enim. Etiam et accumsan felis. Aenean bibendum purus in dolor congue, ac sodales orci dignissim. Quisque congue nunc eu libero rhoncus tincidunt. Donec facilisis felis et ex maximus efficitur. Morbi porta sit amet nisl vel mattis. Cras in dolor ut mi vulputate pharetra nec eget odio. Pellentesque cursus rhoncus suscipit. Donec aliquet odio non elit auctor rhoncus. Aenean vitae enim a lectus viverra vulputate facilisis vel nisi.</textarea>
			<select multiple id="categories" name="categories" class="form-field" required>
				<option>--select--</option>
				<option>Adventure</option>
			</select>
		</div>
		<button class="green-btn" type="button" name="submit" id="submit" (click)="submitForm($event)">Submit <i class="fa fa-long-arrow-right" aria-hidden="true"></i></button>
	</form>
</section>