<section class="adventure container">
	<h2 class="lrg-padding-tb text-center">Latest Adventures</h2>
	<div class="flex flex-justify-content-between">
		<div class="adventure-post adventure-col adventure-image-1">
			<h2>Journies on a Canoe</h2>
			<button class="white-btn">Read More</button>
		</div>
		<div class="adventure-col flex flex-col flex-justify-content-between">
			<div class="row flex">
				<div class="adventure-post adventure-image-2">
					<h2>A Night with Friends at the Beach</h2>
					<button class="white-btn">Read More</button>
				</div>
			</div>
			<div class="row flex flex-justify-content-between">
				<div class="adventure-post adventure-image-3">
					<h2>Taking in the View at Big Mountain</h2>
					<button class="white-btn">Read More</button>
				</div>
				<div class="adventure-post adventure-image-4">
					<h2>Star-Gazing at the Night Sky</h2>
					<a routerLink="/adventure-post"><button class="white-btn">Read More</button></a>
				</div>
			</div>
		</div>
	</div>
	<a routerLink="/journal-list"><button class="green-btn">More Adventures</button></a>
</section>