<section class="journal container">
	<h2 class="lrg-padding-tb text-center">Inhabitent Journal</h2>
	<div class="journal-entries flex flex-justify-content-between">
	    <div class="entry" *ngFor="let journal of journalArray | slice:0:3">
			<img src="{{ journal.image }}">
			<div class="journal-data">
				<p>{{ journal.date }}</p>
				<h3>{{ journal.title }}</h3>
				<a [routerLink]="['/adventure-post', journal.id]"><button class="black-btn" data-id="{{ journal.id }}">Read Entry</button></a>
			</div>
		</div>
	</div>
	<a routerLink="/journal-list"><button class="green-btn">More Journals</button></a>
</section>
